<!DOCTYPE html>

<html>

<head>
	<title>Create your harmony</title>
	
	<link rel="stylesheet" href="main1.css" />
</head>

<nav id="globalNav" class=" unauthenticated">
	<ul class="row resetList">
	<li class="column">Menu</li> 
	</ul>
</nav>

	
<div class="view">
<main class="view-body">
<section class="stripe inverted">
<div id="homeVideoWrap" style="background-image: url(http://static.wixstatic.com/media/dfed13_75748645c23d4957825fdb5e6359c36c.jpg)">
	<div class="bounds align--center">
		<div class="chunk">
			<h1 class="text--display1">Find peace</h1>
				<p class="text--big text--heavy">in your busy life</p>
		</div>
		<a href="" class="button button--primary text--big j-modal--register">Start</a>
	</div>


	
</div>

</section>
<section id="homeActivities" class="stripe">
<div class="bounds bounds--wide align--center">
	<div class="hscrollGradientWrap">
		<div class="hscroll atMedium_hscroll--unclip">
			<ul class="hscroll-content">
				
					<li class="chunk"><a href="" class="button button--activity">Take a break</a></li>
				
					<li class="chunk"><a href="" class="button button--activity">Sweet dreams</a></li>
				
					<li class="chunk"><a href="" class="button button--activity">Unwind</a></li>
				
					<li class="chunk"><a href="" class="button button--activity">Podcasts</a></li>
				
					<li class="chunk"><a href="" class="button button--activity">Focus</a></li>
				
					<li class="chunk"><a href="" class="button button--activity">Meditation</a></li>
				
			</ul>
		</div>
	</div>
</div>

</section>



<section id="homeCategories" class="stripe stripe--extraPadding">
<div class="bounds align--center">
	<h2 class="text--display1 text--heavy">Explore</h2>
</div>

<div class="bounds bounds--categories">
	<ul class="gridList gridList--has2 atMedium_gridList--has3 atLarge_gridList--has4">

>
		
			<li class="gridList-item">
				<a class="categoryLink" href="">
					
					<div class="categoryImg keepAspect" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/2/e/a/e/event_450131950.jpeg);"></div>
					<h4 class="text--heavy">Connect better </h4>
				</a>
			</li>
		
			<li class="gridList-item">
				<a class="categoryLink" href="">
					
					<div class="categoryImg keepAspect" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/2/e/a/c/event_450131948.jpeg);"></div>
					<h4 class="text--heavy">Lower stress</h4>
				</a>
			</li>
		
			<li class="gridList-item">
				<a class="categoryLink" href="">
					
					<div class="categoryImg keepAspect" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/2/e/9/b/event_450131931.jpeg);"></div>
					<h4 class="text--heavy">Focus your mind</h4>
				</a>
			</li>
		
			<li class="gridList-item">
				<a class="categoryLink" href="">
					
					<div class="categoryImg keepAspect" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/2/e/a/a/event_450131946.jpeg);"></div>
					<h4 class="text--heavy">Reduce brain chatter </h4>
				</a>
			</li>
		
			<li class="gridList-item">
				<a class="categoryLink" href="">
					
					<div class="categoryImg keepAspect" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/2/e/a/1/event_450131937.jpeg);"></div>
					<h4 class="text--heavy">Understand Your Pain</h4>
				</a>
			</li>
		
			<li class="gridList-item">
				<a class="categoryLink" href="">
					
					<div class="categoryImg keepAspect" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/2/e/a/f/event_450131951.jpeg);"></div>
					<h4 class="text--heavy">Boost creativity</h4>
				</a>
			</li>
		
			<li class="gridList-item">
				<a href="" class="categoryLink">
					
					<div class="categoryImg keepAspect" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/2/e/a/f/event_450131951.jpeg);"></div>
					<h4 class="text--heavy">Meditation</h4>
				</a>
			</li>
		
		
			<li class="gridList-item">
				<a class="categoryLink" href="">
					
					<div class="categoryImg keepAspect" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/2/e/a/6/event_450131942.jpeg);"></div>
					<h4 class="text--heavy">Music</h4>
				</a>
			</li>
		
		
		

	</ul>
</div>

</section>
<section id="howMellowWorks" class="stripe stripe--black stripe--extraPadding inverted align--center">
<div class="bounds flush--bottom">
<h2 class="text--display1 chunk text--heavy padding--bottom">How Mellow works</h2>
</div>
<div class="bounds bounds--howItWorks flush--top">
<div class="instruction align--left chunk padding--bottom">
<div class="row">
<div class="row-item row-item--shrink text--red">





<span class="svg svg--magnifying-glass ">
	<svg preserveAspectRatio="xMinYMin meet" width="48" height="48" viewBox="0 0 48 48" class="svg-icon valign--middle" role="img" aria-labelledby="magnifying-glass_title">
		<title id="magnifying-glass_title"></title>
		<use role="presentation" xlink:href="#icon-magnifying-glass"></use>
	</svg>
</span>

</div>
<div class="row-item">
<a href="" class="j-modal--register">
<h3 class="text--display3 text--heavy">Stressed?</h3>
<p class="chunk">Discover how to tune out the stress triggers of everyday life.</p>
<p class="text--red text--bold">Start here 











<span class="svg svg--arrow-right ">
	<svg preserveAspectRatio="xMinYMin meet" width="24" height="24" viewBox="0 0 24 24" class="svg-icon valign--middle" role="img" aria-labelledby="arrow-right_title">
		<title id="arrow-right_title"></title>
		<use role="presentation" xlink:href="#icon-arrow-right"></use>
	</svg>
</span>
</p>
</a>
</div>
</div>
</div>
<div class="instruction align--left chunk padding--bottom">
<div class="row">
<div class="row-item row-item--shrink text--red">













<span class="svg svg--plus ">
	<svg preserveAspectRatio="xMinYMin meet" width="48" height="48" viewBox="0 0 48 48" class="svg-icon valign--middle" role="img" aria-labelledby="plus_title">
		<title id="plus_title"></title>
		<use role="presentation" xlink:href="#icon-plus"></use>
	</svg>
</span>

</div>
<div class="row-item">
<a href="">
<h3 class="text--display3 text--heavy">Have ideas?</h3>
<p class="chunk">Can't find what you're looking for? Let us know what you would like to listen to.</p>
<p class="text--red text--bold">Make a suggestion 

					</a>
				</div>

				<div class="chunk padding--top">
					

				
<footer id="mainFooter">
	<div id="mainFooter-bounds" class="">
		<div class="spreadable atMedium_spreadable--spread">
			<div id="footerAuthLink" class="spreadable-item chunk atMedium_align--right">
				
					
				
			</div>
		</div>
		<ul class="inlineblockList chunk bordered">
			<li class="chunk">
				<a href="">Help</a>
			</li>
			<li class="chunk">
				<a href="">About Us</a>
			</li>
			<li class="chunk">
				<a href="">Topics</a>
			</li>
		</ul>
		
		<ul class="inlineblockList text--small">
			<li class="text--secondary small">
				&copy; 2016 Mellow
			</li>
			<li class="chunk"><a href="">Privacy</a></li>
			<li class="chunk"><a href="">Terms</a></li>
		</ul>
	</div>
</footer>



	
<div id="modal--register" class="view view--modalSnap display--none">
	<div class="view-body">
		<div class="bounds padding--bottom">
			<div class="j-modal--register-close modal--register-close">
				<span class="svg svg--cross ">
	<svg 
		preserveAspectRatio="xMinYMin meet"
		
		width="24"
		height="24"
		viewBox="0 0 24 24"
		
	  class="svg-icon" role="img" aria-labelledby="cross_title">
			<title id="cross_title"></title>
			<use role="presentation" xlink:href="#icon-cross"></use>
	</svg>
</span>

			</div>
		
		</div>
	</div>
</div>

    </body>	
</html>




