<!app/views/topics/index.html.erb
<!DOCTYPE html>

<html>

<head>
	<title>Popular Topics | Mellow</title>	
<link rel="stylesheet" href="topics.css">
</head>

<body id="mellowBody" class="ieRoot_modern lang_en  ">


<div id="" class="view">
	
<section class="stripe stripe--collection padding--left padding--top padding--right">
<ul class="inlineblockList chunk">
<li>
<a href="https://www.mellow.com/" class="link"><span>Home</span></a></li>

<li>
<span>Topics</span>
</li>
</ul>
</section>
<section class="stripe">
<div class="bounds">
<h1 class="text--display3 margin--bottom">Popular topics</h1>
<p>What are you interested in?</p>
</div>
</section>


<section class="stripe">
<div class="bounds">
  <h2 class="margin--bottom"><a class="offsetAnchor" name="arts-culture">Home</a></h2>
  <ul class="gridList gridList--has1 atMedium_gridList--has3 atLarge_gridList--has4">
    <li class="gridList-item">Parents</li>
    <li class="gridList-item">Education</li>
	<li class="gridList-item">Children</li>
    <li class="gridList-item">Holidays </li>
</ul>
</div>
</section>

<section class="stripe">
<div class="bounds">
  <h2 class="margin--bottom">Mindfulness &amp; Meditation</h2>
  <ul class="gridList gridList--has1 atMedium_gridList--has3 atLarge_gridList--has4">
    <li class="gridList-item">Nature</li>
    <li class="gridList-item">Stress</li>
	<li class="gridList-item">Awareness</li>        
	<li class="gridList-item">Mental health</li>

</ul>
</div>
</section>



<section class="stripe">
<div class="bounds">
  <h2 class="margin--bottom"><a class="offsetAnchor" name="career-business">Fitness &amp; Movement</a></h2>
  <ul class="gridList gridList--has1 atMedium_gridList--has3 atLarge_gridList--has4">
    <li class="gridList-item">Body perception</li>
	<li class="gridList-item">Hiking</li>
    <li class="gridList-item">Breathing</li>
    <li class="gridList-item">Imperfections </li>
</ul>
</div>
</section>

<section class="stripe">
<div class="bounds">
  <h2 class="margin--bottom"><a class="offsetAnchor" name="cars-motorcycles">Love &amp; Relationships</a></h2>
  <ul class="gridList gridList--has1 atMedium_gridList--has3 atLarge_gridList--has4">
    <li class="gridList-item">Mindful conversations</li>
    <li class="gridList-item">Letting go</li>
    <li class="gridList-item"><a href="" class="link">Touch</a></li>
    <li class="gridList-item"><a href="" class="link">Apology &amp; acceptance </a></li>
  </ul>
</div>
</section>

<section class="stripe">
<div class="bounds">
  <h2 class="margin--bottom"><a class="offsetAnchor" name="community-environment">Health &amp; Medicine </a></h2>
  <ul class="gridList gridList--has1 atMedium_gridList--has3 atLarge_gridList--has4">
    <li class="gridList-item">Disorders</li>
    <li class="gridList-item">Immunity &amp; disease</li>
    <li class="gridList-item"><a href="" class="link">Terminal illness</a></li>
    <li class="gridList-item"><a href="" class="link">Chronic conditions</a></li>
  </ul>
</div>
</section>

<section class="stripe">
<div class="bounds">
  <h2 class="margin--bottom"><a class="offsetAnchor" name="dancing">Work &amp; Leadership</a></h2>
  <ul class="gridList gridList--has1 atMedium_gridList--has3 atLarge_gridList--has4">
    <li class="gridList-item"><a href="" class="link">Creativity</a></li>
    <li class="gridList-item">Focus</li>
    <li class="gridList-item">Diversity</li>
	<li class="gridList-item"><a href="" class="link">Productivity</a></li>

</ul>
</div>
</section>


</div>


<%= link_to 'Back', :back %>

<footer id="mainFooter">
	<div id="mainFooter-bounds" class="">
		<div class="spreadable atMedium_spreadable--spread"> </div>
		<ul class="inlineblockList chunk bordered">
			<li class="chunk">
				<a href="https://www.mellow.com/help/">Help</a>
			</li>
			<li class="chunk">
				<a href="https://www.mellow.com/about/">About Us</a>
			</li>
		</ul>
		
		<ul class="inlineblockList text--small">
			<li class="text--secondary small">
				&copy; 2016 Mellow
			</li>
			<li class="chunk"><a href="https://www.mellow.com/privacy/">Privacy</a></li>
			<li class="chunk"><a href="https://www.mellow.com/terms/">Terms</a></li>
		</ul>
	</div>
</footer>

	



	</body>
</html>





