<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mellow</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/framework_dw.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> Menu <em class="fa fa-bars"></em></button>
                <a class="navbar-brand page-scroll" href="#page-top"> <em class="fa fa-play-circle"></em> Be present<br>
                </a></div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sessions">Sessions</a>
                    </li>                    
                    <li>
                        <a class="page-scroll" href="#topics">Topics</a>
                    </li>
                       <li>
                        <a class="page-scroll" href="#mentors">Mentors</a>
                    </li>
             		   <li>
                        <a class="page-scroll" href="#classes">Classes</a>
                    </li>
                       <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <h1 class="brand-heading">mellow</h1>
                      <p class="intro-text">Welcome to Mellow </p>
                      <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>What is mellow?</h2>
              <p>Mellow is here to help you learn about mindfullness and notice the important things in your busy life. <br>
              </p>
              <p><strong>Mindful</strong> <strong>Awareness</strong> is the moment-by-moment process of actively and openly observing one's physical, mental and emotional experiences. Mindfulness has scientific support as a means to reduce stress, improve attention, boost the immune system, reduce emotional reactivity, and promote a general sense of health and well-being. </p>
              <p>You can choose a guided meditation session or find mindfulness classes near you. </p>
              <p>If you're not sure where to start, check out the popular topics. <br>
              </p>
            </div>
        </div>
    </section>
        
        
  <!-- Sessions Section -->

   <section id="sessions" class="fog-section text-center">
        <div class="sessions-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                  <h2>Mindfullness Sessions</h2>
                  <p>Since you're already here. Take a moment (or at least 3 minutes) to try one of the guided meditations. You can also find podcasts from our mentors and meditation guides. The sessions are updated weekly, so make sure to check in next week to discover more!</p>
                  <a href="sessions/index.html" class="btn btn-default btn-lg">browse sessions </a></div>
            </div>
        </div>
    </section>
   
     <!-- Topics Section -->

   <section id="topics" class="content-section text-center">
        <div class="topics-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                  <h2>Popular Topics</h2>
                  <p>If you're not sure where to start, that's okay. Take a look at what subjects other mindfulness practitioners are interested in. </p>
                  <a href="topics/index.html" class="btn btn-default btn-lg">Browse topics </a></div>
            </div>
        </div>
    </section>
    
    
    <!-- Mentors Section -->
    <section id="mentors" class="content-section text-center">
        <div class="text-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                  <h2>our mentors</h2>
                  <p><span>You can learn more about the mentors and mindfulness coaches who created the guided meditations in the the sessions section.</span></p>
                  <a href="mentors/index.html" class="btn btn-default btn-lg">Meet the mentors</a></div>
            </div>
        </div>
    </section>
    
    
    <!-- Classes Section -->
    <section id="classes" class="content-section text-center">
        <div class="classes-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                  <h2>Classes</h2>
                  <p>The practice of mindfullness is becoming more popular. You can find many workshops and classes near you.</p>
                  <a href="classes/index.html" class="btn btn-default btn-lg">Find classes</a></div>
            </div>
        </div>
    </section>
    
    <!-- Contact Section -->
    <section id="contact" class="container water-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Get in touch</h2>
              <p><span>Have a question or a suggestion? Please feel free to contact us. We would be happy to hear from you, even if it's just to say hello!</span></p>
              <p><a href="mailto:hello_there@mellow.com">hello_there@mellow.com</a></p>
              
          <address class="text-center"><span>
		  <strong>Mellow</strong></span></address>
		  <address class="text-center"><span>
         	912 Chiron Planet</span></address>
          <address class="text-center"><span>
		    Ophiuchus</span></address>
          <address class="text-center"><span>
          	The Milky Way, Jupiter</span></address>
</div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
          <p>Copyright &copy; Mellow Ari 2016</p>
        </div>
    </footer>


</body>

</html>
