<!DOCTYPE html>
<html>
    

<link rel="stylesheet" href="https://a248.e.akamai.net/secure.meetupstatic.com/s/fonts/402715706936963211631/graphik.css" type="text/css" />
<link rel="stylesheet" href="https://a248.e.akamai.net/secure.meetupstatic.com/s/style/82124254518027822514981/foundation/main.css" type="text/css" />


<section class="stripe stripe--collection padding--top padding--bottom">
<div class="bounds bounds--categories">

	<div class="chunk">
		<div class="spreadable atMedium_spreadable--spread">
			<div class="spreadable-item">
				<h2 class="text--heavy text--big">Upcoming Meetups nearby</h2>
			</div>
			<div class="spreadable-item atMedium_align--right">
				<a class="link text--bold text--red" href="https://www.meetup.com/find/">See all</a>
			</div>
		</div>
	</div>

	<div id="upcomingCarousel" class="inlineblockList">
		
			<div class="carousel-cell">
				<a class="eventCard--hasGroup" href="https://www.meetup.com/Legal-Innovation-Paris/events/228778454/">
	<div class="eventCard-group inverted" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photo_api/event/dt2737ffxffc600/sg19ee043d91/451812638.jpeg);">
		<h4 class="text--heavy text--big">Legal Innovation Paris Meetup</h4>
	</div>

	<div class="eventCard-event chunk">
		<h5 class="text--small text--heavy">Legal Access: 4èmes Journées Européennes d&#x27;Informatique­ Juridique (JEIJ)</h5>

		
			<time class="text--small" datetime="2016-11-23T09:00:00.000-05:00">
				
					<span>Today</span>
				
				
				<span class="text--middotLeft">9:00 AM</span>
			</time>
		

	</div>
</a>

			</div>
		
			<div class="carousel-cell">
				<a class="eventCard--hasGroup" href="https://www.meetup.com/Rencontres-Dirigeants-DYNABUY-Paris/events/235195751/">
	<div class="eventCard-group inverted" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/c/b/f/7/event_453652215.jpeg);">
		<h4 class="text--heavy text--big">Rencontres Dirigeants DYNABUY Paris</h4>
	</div>

	<div class="eventCard-event chunk">
		<h5 class="text--small text--heavy">Speed Business Meeting</h5>

		
			<time class="text--small" datetime="2016-11-23T09:00:00.000-05:00">
				
					<span>Today</span>
				
				
				<span class="text--middotLeft">9:00 AM</span>
			</time>
		

	</div>
</a>

			</div>
		
			<div class="carousel-cell">
				<a class="eventCard--hasGroup" href="https://www.meetup.com/Yoga-a-midi-au-Red-Earth-Centre-Paris-X/events/235645046/">
	<div class="eventCard-group inverted" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/c/b/f/4/event_453652212.jpeg);">
		<h4 class="text--heavy text--big">Yoga à midi au Red Earth Centre - Paris X</h4>
	</div>

	<div class="eventCard-event chunk">
		<h5 class="text--small text--heavy">Cours solidaires yoga à midi - 5€ minimum</h5>

		
			<time class="text--small" datetime="2016-11-23T12:15:00.000-05:00">
				
					<span>Today</span>
				
				
				<span class="text--middotLeft">12:15 PM</span>
			</time>
		

	</div>
</a>

			</div>
		
			<div class="carousel-cell">
				<a class="eventCard--hasGroup" href="https://www.meetup.com/ActivEnglish/events/235621817/">
	<div class="eventCard-group inverted" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/c/b/f/7/event_453652215.jpeg);">
		<h4 class="text--heavy text--big">ActivEnglish.</h4>
	</div>

	<div class="eventCard-event chunk">
		<h5 class="text--small text--heavy">ActivEnglish La Défense!</h5>

		
			<time class="text--small" datetime="2016-11-23T12:30:00.000-05:00">
				
					<span>Today</span>
				
				
				<span class="text--middotLeft">12:30 PM</span>
			</time>
		

	</div>
</a>

			</div>
		
			<div class="carousel-cell">
				<a class="eventCard--hasGroup" href="https://www.meetup.com/Big-Data-Hadoop-Ingest-Transform-Apex-Paris-Online/events/235165557/">
	<div class="eventCard-group inverted" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/c/b/f/7/event_453652215.jpeg);">
		<h4 class="text--heavy text--big">Big Data Hadoop Ingest Transform Apex Users Grp Paris Online</h4>
	</div>

	<div class="eventCard-event chunk">
		<h5 class="text--small text--heavy">Deep dive of HDFS to HDFS Sync - Disaster Recovery App Template</h5>

		
			<time class="text--small" datetime="2016-11-23T15:00:00.000-05:00">
				
					<span>Today</span>
				
				
				<span class="text--middotLeft">3:00 PM</span>
			</time>
		

	</div>
</a>

			</div>
		
			<div class="carousel-cell">
				<a class="eventCard--hasGroup" href="https://www.meetup.com/french-579/events/235194878/">
	<div class="eventCard-group inverted" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photo_api/event/dt2737ffxffc600/sg19ee043d91/224917862.jpeg);">
		<h4 class="text--heavy text--big">Parler Parlor French-English Conversation Group</h4>
	</div>

	<div class="eventCard-event chunk">
		<h5 class="text--small text--heavy">Parler Parlor French-English Conversation Group Weekly Meetup</h5>

		
			<time class="text--small" datetime="2016-11-23T15:00:00.000-05:00">
				
					<span>Today</span>
				
				
				<span class="text--middotLeft">3:00 PM</span>
			</time>
		

	</div>
</a>

			</div>
		
			<div class="carousel-cell">
				<a class="eventCard--hasGroup" href="https://www.meetup.com/French-English-Language-Exchange-for-those-Over-50/events/235532470/">
	<div class="eventCard-group inverted" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photo_api/event/dtff005axffae00/sg5ef22f9a12/102005042.jpeg);">
		<h4 class="text--heavy text--big">French-English Conversation for those Over 50 at Osmoz Café</h4>
	</div>

	<div class="eventCard-event chunk">
		<h5 class="text--small text--heavy">We are changing the location of this meetup starting 2/11/16</h5>

		
			<time class="text--small" datetime="2016-11-23T15:00:00.000-05:00">
				
					<span>Today</span>
				
				
				<span class="text--middotLeft">3:00 PM</span>
			</time>
		

	</div>
</a>

			</div>
		
			<div class="carousel-cell">
				<a class="eventCard--hasGroup" href="https://www.meetup.com/Paris-Social-Friends/events/235679960/">
	<div class="eventCard-group inverted" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photo_api/event/dtff005axffae00/sg5ef22f9a12/311860072.jpeg);">
		<h4 class="text--heavy text--big">Paris Social Friends</h4>
	</div>

	<div class="eventCard-event chunk">
		<h5 class="text--small text--heavy">Cine : inferno</h5>

		
			<time class="text--small" datetime="2016-11-23T15:45:00.000-05:00">
				
					<span>Today</span>
				
				
				<span class="text--middotLeft">3:45 PM</span>
			</time>
		

	</div>
</a>

			</div>
		
			<div class="carousel-cell">
				<a class="eventCard--hasGroup" href="https://www.meetup.com/Conversation-Francaise-au-cafe/events/235489311/">
	<div class="eventCard-group inverted" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/c/b/f/7/event_453652215.jpeg);">
		<h4 class="text--heavy text--big">Parlons Français au café</h4>
	</div>

	<div class="eventCard-event chunk">
		<h5 class="text--small text--heavy">Parler Français au café</h5>

		
			<time class="text--small" datetime="2016-11-23T17:00:00.000-05:00">
				
					<span>Today</span>
				
				
				<span class="text--middotLeft">5:00 PM</span>
			</time>
		

	</div>
</a>

			</div>
		
			<div class="carousel-cell">
				<a class="eventCard--hasGroup" href="https://www.meetup.com/Paris-Photography-Group-Meetup/events/235531221/">
	<div class="eventCard-group inverted" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photo_api/event/dt000ddfxff646a/sgb5be2d848b/444899405.jpeg);">
		<h4 class="text--heavy text--big">Paris Photography Group Meetup</h4>
	</div>

	<div class="eventCard-event chunk">
		<h5 class="text--small text--heavy">through the windows</h5>

		
			<time class="text--small" datetime="2016-11-23T17:00:00.000-05:00">
				
					<span>Today</span>
				
				
				<span class="text--middotLeft">5:00 PM</span>
			</time>
		

	</div>
</a>

			</div>
		
			<div class="carousel-cell">
				<a class="eventCard--hasGroup" href="https://www.meetup.com/ImproveYourEnglish/events/235401812/">
	<div class="eventCard-group inverted" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photo_api/event/dt24a601xbdb202/sgac283334c8/446730779.jpeg);">
		<h4 class="text--heavy text--big">ENGLISH CONVERSATIONALISTS IN PARIS</h4>
	</div>

	<div class="eventCard-event chunk">
		<h5 class="text--small text--heavy">Let&#x27;s Meetup and Improve your English! :)</h5>

		
			<time class="text--small" datetime="2016-11-23T18:00:00.000-05:00">
				
					<span>Today</span>
				
				
				<span class="text--middotLeft">6:00 PM</span>
			</time>
		

	</div>
</a>

			</div>
		
			<div class="carousel-cell">
				<a class="eventCard--hasGroup" href="https://www.meetup.com/worklabParis/events/235122738/">
	<div class="eventCard-group inverted" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/c/b/f/7/event_453652215.jpeg);">
		<h4 class="text--heavy text--big">Meetup Worklab Paris</h4>
	</div>

	<div class="eventCard-event chunk">
		<h5 class="text--small text--heavy">Rencontrez la communauté des Workhackers !</h5>

		
			<time class="text--small" datetime="2016-11-23T18:30:00.000-05:00">
				
					<span>Today</span>
				
				
				<span class="text--middotLeft">6:30 PM</span>
			</time>
		

	</div>
</a>

			</div>
		
			<div class="carousel-cell">
				<a class="eventCard--hasGroup" href="https://www.meetup.com/meetup-group-oKSrWLOB/events/235353378/">
	<div class="eventCard-group inverted" style="background-image: url(https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/c/b/f/7/event_453652215.jpeg);">
		<h4 class="text--heavy text--big">Kundalini Yoga Paris</h4>
	</div>

	<div class="eventCard-event chunk">
		<h5 class="text--small text--heavy">Kundalini Yoga class (English)</h5>

		
			<time class="text--small" datetime="2016-11-23T18:30:00.000-05:00">
				
					<span>Today</span>
				
				
				<span class="text--middotLeft">6:30 PM</span>
			</time>
		

	</div>
</a>

			</div>
		
	</div>
</div>

</section>
	<link rel="stylesheet" href="https://a248.e.akamai.net/secure.meetupstatic.com/s/style/5756662693306245180511/flickity.css" type="text/css" />
	
	
</html>
